.btn-primary {
  background: $blue;
}
.btn-primary:hover {
  background: $blue;
}
.btn-primary:active {
  background: $blue !important;
}
.btn-primary:visited {
  background: $blue !important;
}
.btn-primary:focus {
  background: $blue !important;
}
.btn__login {
  outline: none;
  width: 100%;
  background: $blue;
  height: 50px;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-weight: bold;
}
