.inputSearch {
  display: flex;
  align-items: center;
  background: #fff;
  width: 100%;
  height: 38px;
  border-radius: 6px;
  padding: 2px 10px;
  position: relative;
  border: 1px solid silver;
}
.inputSearch input {
  background: none;
  border: none;
  outline: none;
  height: 100%;
  width: 95%;
  font-size: 0.9rem;
}
.inputSearch__icon {
  width: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inputSearch__drowdown {
  position: absolute;
  bottom: -190px;
  left: 0;
  background: #fff;
  width: 100%;
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 14px;
  height: 200px;
  overflow-y: auto;
  z-index: 100;
}
.inputSearch__drowdown ul {
  list-style: none;
  padding: 10px;
  margin: 0;
}
.inputSearch__drowdown ul li {
  border-bottom: 1px solid #ededed;
  padding: 5px;
  cursor: pointer;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.inputSearch__drowdown li:hover {
  background: $green;
  transition: 0.7s ease all;
}
.inputSearch__drowdown li:hover > h5 {
  color: #fff;
}
.inputSearch__drowdown li h5 {
  margin-bottom: 0;
  font-size: 1rem;
  line-height: 16px;
}
.inputSearch__drowdown li span {
  font-size: 0.7rem;
  line-height: 1.3;
  color: #b2b0b0;
}
.inputSearch__drowdown li:hover > span {
  color: #fff;
}
@media (max-width: 576px) {
  .inputSearch {
    width: 100%;
  }
  .inputSearch input {
    font-size: 0.7rem;
  }
}
