.sidebar {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sidebar__img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20%;
  margin-top: 30px;
  margin-bottom: 50px;
  background: $blue;
}
.sidebar__menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.sidebar__menu ul li {
  display: flex;
  justify-content: center;
}
.sidebar__menu ul li a {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: $green;
  width: 100%;
}
.sidebar__menu ul li a:hover {
  background: $blue;
  width: 100%;
}
.sidebar__menu ul li a:hover > div > i {
  color: #fff;
}
.sidebar__menu ul li a:hover > div > span {
  color: #fff;
}
.sidebar__btnActive {
  background: $blue;
}
.sidebar__btnActive i {
  color: #fff;
}
.sidebar__btnActive span {
  color: #fff;
}
.sidebar__btnIcon {
  width: 40%;
  text-align: end;
}
.sidebar__btnSpan {
  width: 60%;
}
.sidebar__btnSpan span {
  font-weight: 600;
}
.sidebar__btn {
  cursor: pointer;
}
.sidebar__version {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.sidebar__version span {
  color: $blue;
  font-size: 0.6rem;
  text-align: center;
}
@media (max-width: 576px) {
  .sidebar {
    right: -330px;
    position: fixed;
    transition: all 500ms linear;
    z-index: 100;
    background: #fff;
    width: 220px;
    // box-shadow: 0px 3px 6px rgba(0 0 0 0.7);
  }
  #sidebar.menuMovil__active {
    right: 0;
  }
}
