* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

main {
  width: 100%;
}
.inputValidationMsg {
  font-size: 0.7rem;
  color: #bb0808;
}
.spinnerLoading {
  font-size: 2rem;
  color: $green;
}
