* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

main {
  width: 100%;
}
.inputValidationMsg {
  font-size: 0.7rem;
  color: #bb0808;
}
.spinnerLoading {
  font-size: 2rem;
  color: $green;
}
.css-9gakcf-option {
  background-color: #fff !important;
  color: #000 !important;
}
.css-9gakcf-option:hover {
  background-color: $blue !important;
  color: #fff !important;
}
